body
  margin: 0
  padding: 0
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica", Arial, Oxygen, Ubuntu, Cantarell, sans-serif
  height: 100%

  #upload
    width: 50%
    box-sizing: border-box
    margin: 50px auto
    padding: 20px
    height: 400px

    background-color: #f8f8f8
    border: 2px dashed #ddd
    border-radius: 5px

    .step1
      height: 100%
      p
        margin-top: 5px
        color: #CED4DA
        a
          color: #CED4DA

      input
        display: none
        width: 1px
        height: 1px

    .step2
      position: relative
      ul
        margin: 0
        padding: 0
        width: 100%
        margin-top: 10px

        li
          list-style: none
          margin-bottom: 5px
          div
            font-size: 13px
            border-radius: 20px

          .progress
            position: relative
            background-color: white
            .bg
              background-color: #5DC0C1
              height: 22px
              width: 0
              -webkit-transition: width 0.5s
              transition: width 0.5s

            span
              position: absolute
              top: 0
              line-height: 22px
              padding-left: 10px
              color: white

            .circle
              width: 10px
              height: 10px
              background-color: #5DC0C1
              border-radius: 50%
              position: absolute
              top: 7px
              right: 10px

              &.white
                background-color: white
                transition: background-color 400ms linear

    .close-import
      position: absolute
      top: 0
      right: 0
      color: black
      text-decoration: none

    .more-files
      background-color: #4CA2EF
      border: none
      color: white
      padding: 10px 30px
      text-align: center
      text-decoration: none
      display: inline-block
      font-size: 14px
      margin-top: 20px

    .title
      font-weight: bold

.hidden
  display: none

.text-center
  text-align: center

.icons
  text-align: center
  img
    width: 80px
    transition: 1s ease all
    &#img
      height: 100px
      z-index: 9999
      position: relative
      background-color: #f8f8f8
      top: 10px

    &#doc
      height: 60px
      position: relative
      margin-right: -20px
      transform: rotate(-30deg)
      top: 0
      left: 0

    &#pdf
      height: 45px
      position: relative
      margin-left: -20px
      transform: rotate(30deg)
      top: 0
      right: 0

#upload.hover
  .icons
    img
      transition: 1s ease all
      &#doc
        transform: rotate(-45deg)
        top: -50px
        left: -20px
      &#img
        top: -40px
      &#pdf
        transform: rotate(45deg)
        top: -50px
        right: -20px

  .icon-file
    background: url("../../../assets/images/up.svg") no-repeat center center

.icon-file
  margin-top: 10px
  background: url("../../../assets/images/cross.svg") no-repeat center center
  height: 30px

.vcenter
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  height: 100%


.cancel
  color: #868E96
  text-decoration: none
  font-size: 12px

@media (max-width:1080px)
  #upload
    width: 50% !important
@media (max-width:865px)
  #upload
    width: 90% !important
